.sidebar {
  position: fixed;
  top: 56px; /* Adjust based on header height */
  left: 0;
  width: 160px;
  height: calc(100% - 56px); /* Adjust based on header height */
  background: #343a40;
  color: #fff;
  transition: width 0.3s;
}

.collapsed {
  width: 0px;
}

.sidebar .nav-link {
  color: #fff;
}
