.sidebar {
  height: 100%;
  width: 0;
  left: 0;
  height: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 60px;
  box-shadow: 10px 5px 5px #dedcdc;
}
.side-drop {
  background-color: rgb(231, 231, 231, 1);
}

.a:focus {
  background: red;
}
.sidebar a {
  text-decoration: none;
  font-size: 25px;
  color: #3b3a3a;
  display: block;
  transition: 0.3s;
}
.onhover {
  background-color: #009688;
}

.side-drop a:active {
  color: #009688;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}
.header {
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  margin-bottom: 1rem;
}
.secla {
  transition: 0.8s;
}
.openbtn {
  font-size: 15px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
}
.lgotbtn {
  font-size: 15px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
}

.sidebar .active {
  background-color: white; /* or any color you want for the active link */
  color: black;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
@media screen and (max-height: 320px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 25px;
  }
}
